alembic==1.7.1
click==8.0.1
Flask==1.1.2
Flask-API==2.0
Flask-Migrate==2.5.3
flask-redis==0.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
flask-swagger-ui==3.36.0
get-nic==0.0.3
greenlet==1.1.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
redis==3.5.3
SQLAlchemy==1.4.23
Werkzeug==1.0.1
zipp==3.5.0
nftables===0.1
typeguard===2.13.0
gunicorn===20.1.0
