[Unit]
Description=OpenViVi tunnel connection
After=network.target

[Service]
EnvironmentFile="/etc/default/openvivi-tunnel"
ExecStartPre=eval $(ssh-agent -s) && ssh-add /home/ubuntu/.ssh/id_tunnel
ExecStart=bash $PWD/config/openvivi-tunnel.sh
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target